@keyframes floatUpDown {
  0% {
    transform: translate(-50%, -50%) translateY(calc(-1 * var(--spacing-sm)));
    opacity: 1;
  }
  100% {
    transform: translate(-50%, -50%) translateY(var(--spacing-sm));
    opacity: 0.48;
  }
}

.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 160px;
  height: 160px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  animation: floatUpDown 1000ms ease-in-out 1ms infinite alternate;
}

.circle {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background:
    radial-gradient(
      60.16% 60.16% at 74.22% 21.88%,
      var(--color-white) 0%,
      rgba(255, 255, 255, 0.16) 100%
    ),
    radial-gradient(100% 100% at 0% 0%, var(--color-white) 0%, var(--color-input-border) 100%);
  box-shadow: 0px -2px 32px 0px rgba(16, 24, 40, 0.08) inset;
}

.circle::before {
  content: '';
  position: absolute;
  inset: -30px;
  border-radius: 50%;
  z-index: -1;
  background: radial-gradient(circle, rgba(255, 255, 255, 0.9) 0 35%, rgba(255, 255, 255, 0) 75%);
  filter: blur(30px);
}

@media (prefers-reduced-motion: reduce) {
  .container {
    animation: none !important;
  }
}
